force-app/main/default/flows/AI_Compliance_Risk_Flagging.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Compliance_Json_Data</name>
        <label>Get Compliance Json Data</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ComplianceJsonParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Compliance_Review</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonResponse</name>
            <value>
                <elementReference>Get_Compliance_Risk_Review.promptResponse</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>ComplianceJsonParser</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Compliance_Risk_Review</name>
        <label>Get Compliance Risk Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Compliance_Risk_Review</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Get_Compliance_Json_Data</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Compliance_Risk</name>
            <value>
                <elementReference>$Record.Description</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>GenAiPromptTemplateVersionId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>3vNfj000002yRx3EAE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Compliance_Risk_Review</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>AI Compliance Risk Flagging {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AI Compliance Risk Flagging</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Compliance_Review</name>
        <label>Update Compliance Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Compliance_Flagged_Quote__c</field>
            <value>
                <elementReference>Get_Compliance_Json_Data.flaggedQuote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliance_Issue_Type__c</field>
            <value>
                <elementReference>Get_Compliance_Json_Data.issueTypes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliance_Reason__c</field>
            <value>
                <elementReference>Get_Compliance_Json_Data.reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliance_Risk_Flag__c</field>
            <value>
                <elementReference>Get_Compliance_Json_Data.risk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliance_Risk_Level__c</field>
            <value>
                <elementReference>Get_Compliance_Json_Data.riskLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Compliance_Risk_Score__c</field>
            <value>
                <elementReference>Get_Compliance_Json_Data.riskScore</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Compliance_Risk_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Description</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
