force-app/main/default/flows/AI_Intent_Score.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ai_summary</name>
        <label>ai summary</label>
        <locationX>582</locationX>
        <locationY>2184</locationY>
        <actionName>LeadIntakeSummaryAnalyzer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>recommended_action</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>LeadIntakeSummaryAnalyzer</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>recommended_action</name>
        <label>recommended action</label>
        <locationX>549</locationX>
        <locationY>2326</locationY>
        <actionName>LeadIntakeRecommendedActions</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>LeadIntakeRecommendedActions</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AI_Intent_Score</name>
        <label>AI Intent Score</label>
        <locationX>559</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>VarScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Incident_Type_Score.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Severity_Type_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AI_Intent_Score_0</name>
        <label>AI Intent Score</label>
        <locationX>559</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VarScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Severity_Type_Score.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Medical_Treatment_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AI_Intent_Score_0_0</name>
        <label>AI Intent Score</label>
        <locationX>561</locationX>
        <locationY>589</locationY>
        <assignmentItems>
            <assignToReference>VarScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Medical_Treatment_Score.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Police_Report_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AI_Intent_Score_0_0_0</name>
        <label>AI Intent Score</label>
        <locationX>566</locationX>
        <locationY>763</locationY>
        <assignmentItems>
            <assignToReference>VarScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Police_Report_Score.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Accident_Age_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AI_Intent_Score_0_0_0_0</name>
        <label>AI Intent Score</label>
        <locationX>572</locationX>
        <locationY>944</locationY>
        <assignmentItems>
            <assignToReference>VarScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Accident_Age_Score.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insurance_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AI_Intent_Score_0_0_0_0_0</name>
        <label>AI Intent Score</label>
        <locationX>577</locationX>
        <locationY>1136</locationY>
        <assignmentItems>
            <assignToReference>VarScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Insurance_Score.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Liability_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AI_Intent_Score_0_0_0_0_0_0</name>
        <label>AI Intent Score</label>
        <locationX>580</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>VarScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Liability_Score.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Country_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AI_Intent_Score_0_0_0_0_0_0_0</name>
        <label>AI Intent Score</label>
        <locationX>585</locationX>
        <locationY>1542</locationY>
        <assignmentItems>
            <assignToReference>VarScore</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Country_Score.Score__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Qualification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Score</name>
        <label>Check Score</label>
        <locationX>577</locationX>
        <locationY>1850</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hot</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Quality</targetReference>
            </connector>
            <label>Hot</label>
        </rules>
        <rules>
            <name>Warm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarScore</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>74.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>VarScore</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Quality_0</targetReference>
            </connector>
            <label>Warm</label>
        </rules>
        <rules>
            <name>Cold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarScore</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Quality_0_0</targetReference>
            </connector>
            <label>Cold</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AI Intent Score {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AI Intent Score</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Accident_Age_Score</name>
        <label>Accident Age Score</label>
        <locationX>300</locationX>
        <locationY>936</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AI_Intent_Score_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Accident_Age__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Incident_Age__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Accident_Age_Score__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Country_Score</name>
        <label>Country Score</label>
        <locationX>842</locationX>
        <locationY>1534</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AI_Intent_Score_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Country__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country_Score__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Incident_Type_Score</name>
        <label>Incident Type Score</label>
        <locationX>304</locationX>
        <locationY>320</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AI_Intent_Score</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Incident_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Incident_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Incident_Type_Score__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Insurance_Score</name>
        <label>Insurance Score</label>
        <locationX>901</locationX>
        <locationY>1128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AI_Intent_Score_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Insurance_Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Insurance_Available__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Insurance_Score__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Liability_Score</name>
        <label>Liability Score</label>
        <locationX>204</locationX>
        <locationY>1440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AI_Intent_Score_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Liability_Clarity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Liability_Clarity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Liability_Clarity_Score__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Medical_Treatment_Score</name>
        <label>Medical Treatment Score</label>
        <locationX>306</locationX>
        <locationY>581</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AI_Intent_Score_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Medical_Treatment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Medical_Treatment_Status__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Medical_Treatment_Score__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Police_Report_Score</name>
        <label>Police Report Score</label>
        <locationX>902</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AI_Intent_Score_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Police_Report_Filled__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Police_Report_Filed__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Police_Report_Score__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Severity_Type_Score</name>
        <label>Severity Type Score</label>
        <locationX>889</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AI_Intent_Score_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Severity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Injury_Severity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Severity_Score__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Quality</name>
        <label>Update Case Quality</label>
        <locationX>453</locationX>
        <locationY>1968</locationY>
        <connector>
            <targetReference>ai_summary</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Quality__c</field>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Quality_0</name>
        <label>Update Case Quality</label>
        <locationX>587</locationX>
        <locationY>2009</locationY>
        <connector>
            <targetReference>ai_summary</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Quality__c</field>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Quality_0_0</name>
        <label>Update Case Quality</label>
        <locationX>716</locationX>
        <locationY>1972</locationY>
        <connector>
            <targetReference>ai_summary</targetReference>
        </connector>
        <inputAssignments>
            <field>Case_Quality__c</field>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Qualification</name>
        <label>Update Qualification</label>
        <locationX>585</locationX>
        <locationY>1704</locationY>
        <connector>
            <targetReference>Check_Score</targetReference>
        </connector>
        <inputAssignments>
            <field>Qualification_Score__c</field>
            <value>
                <elementReference>VarScore</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>425</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Incident_Type_Score</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Incident_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Injury_Severity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Medical_Treatment_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Police_Report_Filed__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Incident_Age__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Insurance_Available__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Liability_Clarity__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Intake__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varAIRecommend</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAISummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
