force-app/main/default/flows/AI_Sentiment_Predictor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Sentiment</name>
        <label>Call Sentiment</label>
        <locationX>485</locationX>
        <locationY>409</locationY>
        <actionName>CallSentimentAnalyzer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Intake</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>description</name>
            <value>
                <elementReference>$Record.Description</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>CallSentimentAnalyzer</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>Sentiment</assignToReference>
            <name>sentiment</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>AI Sentiment Predictor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AI Sentiment Predictor</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Intake</name>
        <label>Update Intake</label>
        <locationX>360</locationX>
        <locationY>534</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AI_Sentiment__c</field>
            <value>
                <elementReference>Sentiment</elementReference>
            </value>
        </inputAssignments>
        <object>Intake__c</object>
    </recordUpdates>
    <start>
        <locationX>425</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Call_Sentiment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Sentiment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
