force-app/main/default/flows/Create_Intake_From_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Intake_Call_Extractor</name>
        <label>Intake Call Extractor</label>
        <locationX>545</locationX>
        <locationY>404</locationY>
        <actionName>Intake_Call_Extractor</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Parse_Call_Body</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Contact</name>
            <value>
                <elementReference>$Record</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>Intake_Call_Extractor</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>promptOutput</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Parse_Call_Body</name>
        <label>Parse Call Body</label>
        <locationX>344</locationX>
        <locationY>570</locationY>
        <actionName>ParseIntakePromptOutput</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Incident_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>promptJson</name>
            <value>
                <elementReference>promptOutput</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>ParseIntakePromptOutput</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>incidentAge</assignToReference>
            <name>incidentAge</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>incidentType</assignToReference>
            <name>incidentType</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>injurySeverity</assignToReference>
            <name>injurySeverity</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>insurance</assignToReference>
            <name>insurance</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>liability</assignToReference>
            <name>liability</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>medicalTreatment</assignToReference>
            <name>medicalTreatment</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>policeReport</assignToReference>
            <name>policeReport</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Incident_Type</name>
        <label>Check Incident Type</label>
        <locationX>552</locationX>
        <locationY>615</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>incidentType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Intake</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Intake From Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AI Create Intake From Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Intake</name>
        <label>Create Intake</label>
        <locationX>717</locationX>
        <locationY>598</locationY>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Age__c</field>
            <value>
                <elementReference>incidentAge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Type__c</field>
            <value>
                <elementReference>incidentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injury_Severity__c</field>
            <value>
                <elementReference>injurySeverity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Available__c</field>
            <value>
                <elementReference>insurance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intake_Phone__c</field>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liability_Clarity__c</field>
            <value>
                <elementReference>liability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Treatment_Status__c</field>
            <value>
                <elementReference>medicalTreatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Police_Report_Filed__c</field>
            <value>
                <elementReference>policeReport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Phone</stringValue>
            </value>
        </inputAssignments>
        <object>Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>425</locationX>
        <locationY>48</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Intake_Summary__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Run_After_Creation</name>
            <connector>
                <targetReference>Intake_Call_Extractor</targetReference>
            </connector>
            <label>Run After Creation</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>incidentAge</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>incidentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>injurySeverity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>insurance</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>liability</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicalTreatment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>policeReport</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>promptOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
