force-app/main/default/flows/First_Response_Date_time_by_Source.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Business_Response_Minutes</name>
        <label>Business Response Minutes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>IntakeDashboardController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Business_Response_Minutes</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>createdDt</name>
            <value>
                <elementReference>Get_Parent_Intake.CreatedDate</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>firstResponseDt</name>
            <value>
                <elementReference>firstreponsetime</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>IntakeDashboardController</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>firstreponsetime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>First Response Date time by Source {!$Flow.CurrentDateTime}</interviewLabel>
    <label>First Response Date time by Source</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Parent_Intake</name>
        <label>Get Parent Intake</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_First_response_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Source__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Business_Response_Minutes</name>
        <label>Update Business Response Minutes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Intake.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Business_Response_Minutes__c</field>
            <value>
                <elementReference>Business_Response_Minutes.minutes</elementReference>
            </value>
        </inputAssignments>
        <object>Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_First_response_Time</name>
        <label>Update First response Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Business_Response_Minutes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Response_DateTime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Parent_Intake.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>First_Response_DateTime__c</field>
            <value>
                <elementReference>firstreponsetime</elementReference>
            </value>
        </inputAssignments>
        <object>Intake__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Intake</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AI Intake Response Sent</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
