force-app/main/default/flows/Generate_Intake_AI_Summary.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Build_Conversation_Transcript</name>
        <label>Build Conversation Transcript</label>
        <locationX>545</locationX>
        <locationY>194</locationY>
        <actionName>BuildConversationTranscript</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Transcript</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>intakeId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BuildConversationTranscript</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>transcript</assignToReference>
            <name>transcript</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Intake_Conversation_Summary</name>
        <label>Intake Conversation Summary</label>
        <locationX>603</locationX>
        <locationY>504</locationY>
        <actionName>Intake_Conversation_Summary</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Parse_AI_JSON</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:ConversationHistory</name>
            <value>
                <elementReference>transcript</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Intake_Conversation_Summary</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>promptOutput</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Parse_AI_JSON</name>
        <label>Parse AI JSON</label>
        <locationX>465</locationX>
        <locationY>596</locationY>
        <actionName>IntakeJsonParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Summary</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonResponse</name>
            <value>
                <elementReference>promptOutput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntakeJsonParser</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Summary</name>
        <label>Check Summary</label>
        <locationX>212</locationX>
        <locationY>693</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Summary_is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parse_AI_JSON.summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Summary is Blank</label>
        </rules>
        <rules>
            <name>Summary_is_not_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Parse_AI_JSON.summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AI_conversation_analysis</targetReference>
            </connector>
            <label>Summary is not Blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Generate Intake AI Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Intake AI Summary</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_AI_conversation_analysis</name>
        <label>Update AI conversation analysis</label>
        <locationX>548</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AI_Conversation_Summary__c</field>
            <value>
                <elementReference>Parse_AI_JSON.summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Next_Message__c</field>
            <value>
                <elementReference>Parse_AI_JSON.nextMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Next_Recommended_Action__c</field>
            <value>
                <elementReference>Parse_AI_JSON.recommendedAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AI_Sentiment__c</field>
            <value>
                <elementReference>Parse_AI_JSON.sentiment</elementReference>
            </value>
        </inputAssignments>
        <object>Intake__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Transcript</name>
        <label>Update Transcript</label>
        <locationX>473</locationX>
        <locationY>363</locationY>
        <connector>
            <targetReference>Intake_Conversation_Summary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Transcript__c</field>
            <value>
                <elementReference>transcript</elementReference>
            </value>
        </inputAssignments>
        <object>Intake__c</object>
    </recordUpdates>
    <start>
        <locationX>425</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Build_Conversation_Transcript</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>promptOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transcript</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
