force-app/main/default/flows/Intake_Stage_Timestamp_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Converted_Entered_At</name>
        <label>Set Converted Entered At</label>
        <locationX>31</locationX>
        <locationY>654</locationY>
        <assignmentItems>
            <assignToReference>$Record.Converted_Entered_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Intake_Timestamps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Entered_At</name>
        <label>Set New Entered At</label>
        <locationX>839</locationX>
        <locationY>665</locationY>
        <assignmentItems>
            <assignToReference>$Record.New_Entered_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Intake_Timestamps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Open_Entered_At</name>
        <label>Set Open Entered At</label>
        <locationX>736</locationX>
        <locationY>738</locationY>
        <assignmentItems>
            <assignToReference>$Record.Assigned_Entered_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Intake_Timestamps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Qualified_Entered_At</name>
        <label>Set Qualified Entered At</label>
        <locationX>466</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>$Record.Qualified_Entered_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Intake_Timestamps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Referred_Out_Entered_At</name>
        <label>Set Referred Out Entered At</label>
        <locationX>98</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.Referred_Out_Entered_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Intake_Timestamps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Retainer_Sent_Entered_At</name>
        <label>Set Retainer Sent Entered At</label>
        <locationX>348</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>$Record.Retainer_Agreement_Sent_Entered_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Intake_Timestamps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Retainer_Signed_Entered_At</name>
        <label>Set Retainer Signed Entered At</label>
        <locationX>242</locationX>
        <locationY>925</locationY>
        <assignmentItems>
            <assignToReference>$Record.Retainer_Agreement_Signed_Entered_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Intake_Timestamps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Turned_Down_Entered_At</name>
        <label>Set Turned Down Entered At</label>
        <locationX>133</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>$Record.Turned_Down_Entered_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Intake_Timestamps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Under_Review_Entered_At</name>
        <label>Set Under Review Entered At</label>
        <locationX>563</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>$Record.Under_Review_Entered_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Intake_Timestamps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Working_Entered_At</name>
        <label>Set Working Entered At</label>
        <locationX>657</locationX>
        <locationY>783</locationY>
        <assignmentItems>
            <assignToReference>$Record.Working_Entered_At__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Intake_Timestamps</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Which_Stage</name>
        <label>Which Stage?</label>
        <locationX>211</locationX>
        <locationY>361</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Entered_At</targetReference>
            </connector>
            <label>Status = New</label>
        </rules>
        <rules>
            <name>Status_Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Assigned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Open_Entered_At</targetReference>
            </connector>
            <label>Status = Open</label>
        </rules>
        <rules>
            <name>Status_Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Working_Entered_At</targetReference>
            </connector>
            <label>Status = Working</label>
        </rules>
        <rules>
            <name>Status_Under_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Under_Review_Entered_At</targetReference>
            </connector>
            <label>Status = Under Review</label>
        </rules>
        <rules>
            <name>Status_Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Qualified_Entered_At</targetReference>
            </connector>
            <label>Status = Qualified</label>
        </rules>
        <rules>
            <name>Status_Retainer_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retainer Agreement Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Retainer_Sent_Entered_At</targetReference>
            </connector>
            <label>Status = Retainer Sent</label>
        </rules>
        <rules>
            <name>Status_Retainer_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Retainer Agreement Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Retainer_Signed_Entered_At</targetReference>
            </connector>
            <label>Status = Retainer Signed</label>
        </rules>
        <rules>
            <name>Status_Turned_Down</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Turned Down</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Turned_Down_Entered_At</targetReference>
            </connector>
            <label>Status = Turned Down</label>
        </rules>
        <rules>
            <name>Status_Referred_Out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Referred Out</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Referred_Out_Entered_At</targetReference>
            </connector>
            <label>Status = Referred Out</label>
        </rules>
        <rules>
            <name>Status_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Converted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Converted_Entered_At</targetReference>
            </connector>
            <label>Status = Converted</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Intake_Stage_Timestamp_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Intake_Stage_Timestamp_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Intake_Timestamps</name>
        <label>Update Intake Timestamps</label>
        <locationX>366</locationX>
        <locationY>1032</locationY>
        <inputAssignments>
            <field>Assigned_Entered_At__c</field>
            <value>
                <elementReference>$Record.Assigned_Entered_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Converted_Entered_At__c</field>
            <value>
                <elementReference>$Record.Converted_Entered_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Entered_At__c</field>
            <value>
                <elementReference>$Record.New_Entered_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Qualified_Entered_At__c</field>
            <value>
                <elementReference>$Record.Qualified_Entered_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referred_Out_Entered_At__c</field>
            <value>
                <elementReference>$Record.Referred_Out_Entered_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retainer_Agreement_Sent_Entered_At__c</field>
            <value>
                <elementReference>$Record.Retainer_Agreement_Sent_Entered_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Retainer_Agreement_Signed_Entered_At__c</field>
            <value>
                <elementReference>$Record.Retainer_Agreement_Signed_Entered_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Turned_Down_Entered_At__c</field>
            <value>
                <elementReference>$Record.Turned_Down_Entered_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Under_Review_Entered_At__c</field>
            <value>
                <elementReference>$Record.Under_Review_Entered_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_Entered_At__c</field>
            <value>
                <elementReference>$Record.Working_Entered_At__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>379</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Which_Stage</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Intake__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
