force-app/main/default/flows/PI_Email_Intake_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_all_the_details_from_the_email</name>
        <label>Extract all the details from the email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ClaudeIntakeExtractorForEmailService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Json_Parsing</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>emailAddress</name>
            <value>
                <elementReference>varEmailAddress</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSummary</name>
            <value>
                <elementReference>varEmailBody</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>ClaudeIntakeExtractorForEmailService</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Json_Parsing</name>
        <label>Json Parsing</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PIJsonParser</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_contact</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonResponse</name>
            <value>
                <elementReference>Extract_all_the_details_from_the_email.jsonResponse</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>PIJsonParser</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>accidentAge</assignToReference>
            <name>accidentAge</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>accidentType</assignToReference>
            <name>accidentType</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>description</assignToReference>
            <name>description</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>email</assignToReference>
            <name>email</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>firstName</assignToReference>
            <name>firstName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>injurySeverity</assignToReference>
            <name>injurySeverity</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>insuranceAvailable</assignToReference>
            <name>insuranceAvailable</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>lastName</assignToReference>
            <name>lastName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>liabilityClarity</assignToReference>
            <name>liabilityClarity</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>medicalTreatmentStarted</assignToReference>
            <name>medicalTreatmentStarted</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>phone</assignToReference>
            <name>phone</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>policeReportAvailable</assignToReference>
            <name>policeReportAvailable</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>summary</assignToReference>
            <name>summary</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>check_contact_present_or_not</name>
        <label>check contact present or not</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Intake_1</targetReference>
            </connector>
            <label>Present</label>
        </rules>
        <rules>
            <name>Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_contact</targetReference>
            </connector>
            <label>Not Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>PI_Email_Intake_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PI_Email_Intake_Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_contact</name>
        <label>create contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>create_Intake_2</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_Intake_1</name>
        <label>create Intake 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Role_1</targetReference>
        </connector>
        <inputAssignments>
            <field>AI_Summary__c</field>
            <value>
                <elementReference>summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>get_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Age__c</field>
            <value>
                <elementReference>accidentAge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Description__c</field>
            <value>
                <elementReference>description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Type__c</field>
            <value>
                <elementReference>accidentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injury_Severity__c</field>
            <value>
                <elementReference>injurySeverity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Available__c</field>
            <value>
                <elementReference>insuranceAvailable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liability_Clarity__c</field>
            <value>
                <elementReference>liabilityClarity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Treatment_Status__c</field>
            <value>
                <elementReference>medicalTreatmentStarted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Police_Report_Filed__c</field>
            <value>
                <elementReference>policeReportAvailable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <object>Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_Intake_2</name>
        <label>create Intake 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Role_2</targetReference>
        </connector>
        <inputAssignments>
            <field>AI_Summary__c</field>
            <value>
                <elementReference>summary</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>create_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Age__c</field>
            <value>
                <elementReference>accidentAge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Description__c</field>
            <value>
                <elementReference>description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Type__c</field>
            <value>
                <elementReference>accidentType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Injury_Severity__c</field>
            <value>
                <elementReference>injurySeverity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurance_Available__c</field>
            <value>
                <elementReference>insuranceAvailable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liability_Clarity__c</field>
            <value>
                <elementReference>liabilityClarity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Treatment_Status__c</field>
            <value>
                <elementReference>medicalTreatmentStarted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Police_Report_Filed__c</field>
            <value>
                <elementReference>policeReportAvailable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source__c</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <object>Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Role_1</name>
        <label>Create Role 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>create_Intake_1.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Party__c</field>
            <value>
                <elementReference>get_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </inputAssignments>
        <object>Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Role_2</name>
        <label>Create Role 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Intake__c</field>
            <value>
                <elementReference>create_Intake_2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Party__c</field>
            <value>
                <elementReference>create_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </inputAssignments>
        <object>Role__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_contact_present_or_not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>phone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Extract_all_the_details_from_the_email</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accidentAge</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accidentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>firstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>injurySeverity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>insuranceAvailable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>lastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>liabilityClarity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>medicalTreatmentStarted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>phone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>policeReportAvailable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varEmailBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
