force-app/main/default/flows/Twilio_Call_AI_Analyzer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Transcript_to_Analysis</name>
        <label>Transcript to Analysis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CallTranscriptAnalyzer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Intake_with_AI_Analysis</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>transcript</name>
            <value>
                <elementReference>$Record.Description</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>CallTranscriptAnalyzer</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>PromptOutput</assignToReference>
            <name>analysis</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>67.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Intake_Found</name>
        <label>Intake Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Intake.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transcript_to_Analysis</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExtractFollowUpNotes</name>
        <dataType>String</dataType>
        <expression>MID({!PromptOutput}, FIND(&quot;FOLLOW_UP_NOTES:&quot;, {!PromptOutput}) + 17, FIND(&quot;OBJECTIONS_RAISED:&quot;, {!PromptOutput}) - FIND(&quot;FOLLOW_UP_NOTES:&quot;, {!PromptOutput}) - 17)</expression>
    </formulas>
    <formulas>
        <name>ExtractNextSteps</name>
        <dataType>String</dataType>
        <expression>MID({!PromptOutput}, FIND(&quot;NEXT_STEPS:&quot;, {!PromptOutput}) + 11, LEN({!PromptOutput}) - FIND(&quot;NEXT_STEPS:&quot;, {!PromptOutput}) - 10)</expression>
    </formulas>
    <formulas>
        <name>ExtractObjections</name>
        <dataType>String</dataType>
        <expression>MID({!PromptOutput}, FIND(&quot;OBJECTIONS_RAISED:&quot;, {!PromptOutput}) + 18, FIND(&quot;NEXT_STEPS:&quot;, {!PromptOutput}) - FIND(&quot;OBJECTIONS_RAISED:&quot;, {!PromptOutput}) - 18)</expression>
    </formulas>
    <interviewLabel>Twilio Call AI Analyzer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Twilio Call AI Analyzer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Intake</name>
        <label>Get Intake</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Intake_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Intake__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Intake_with_AI_Analysis</name>
        <label>Update Intake with AI Analysis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Intake.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Follow_Up_Next_Step__c</field>
            <value>
                <elementReference>ExtractNextSteps</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Notes__c</field>
            <value>
                <elementReference>ExtractFollowUpNotes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Objection_Raised__c</field>
            <value>
                <elementReference>ExtractObjections</elementReference>
            </value>
        </inputAssignments>
        <object>Intake__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Intake</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Description</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>PromptOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
